

# ========================
# Kafka
# ========================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TRAFFIC_RAW=traffic-raw
KAFKA_TOPIC_TRAFFIC_PROCESSED=traffic-processed
KAFKA_GROUP_ID=traffic-consumer-group

# ========================
# MinIO (S3-compatible)
# ========================
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=replace_with_minio_secret
MINIO_BUCKET_RAW=traffic-raw-data
MINIO_BUCKET_PROCESSED=traffic-processed-data
MINIO_USE_SSL=false

# ========================
# PostgreSQL
# ========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=traffic_analytics
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=replace_with_postgres_password

# ========================
# Elasticsearch
# ========================
ES_HOST=localhost
ES_PORT=9200
ES_INDEX_TRAFFIC=traffic-realtime

# ========================
# Flink
# ========================
FLINK_JOBMANAGER_HOST=localhost
FLINK_JOBMANAGER_PORT=8081

# ========================
# Spark
# ========================
SPARK_MASTER=local[*]
SPARK_APP_NAME=TrafficBatchProcessor
SPARK_HADOOP_AWS_PACKAGE=org.apache.hadoop:hadoop-aws:3.3.4
SPARK_AWS_SDK_PACKAGE=com.amazonaws:aws-java-sdk-bundle:1.12.262
SPARK_POSTGRES_JDBC_PACKAGE=org.postgresql:postgresql:42.7.3


# ========================
# TOMTOM
# ========================

TOMTOM_API_KEY= example_tomtom_api_key
FETCH_INTERVAL_SECONDS=120